;; environment variables
.env

;; other
*.pyc
*.zip

;; client side
x*.min*

;; virtual environments
ven
venv
env

;; IDE configurations
.idea/
.vscode

;; code coverage reports
.coverage
cover
coverage
htmlcov

;; database
db.sqlite3
.data

;; nginx
nginx/logs

;; image files
*.png
*.jpg
*.jpeg
*.svg
api/__pycache__/
api/migrations/__pycache__/
config/__pycache__/
*.pickle

tmp
celerybeat.pid
